<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Para mais informações entre em contato pelo email: carlosajunior@hotmail.com, ou acesse o repositório da API: github.com/Carlosajunior/Projeto-Player-2 </p>
      <p>
        Acesse a documentação da API aqui: app.swaggerhub.com/apis/Carlosajunior/Desafio-Player2/1.0.
      </p>
    </div>
  </section>
</body>
</html>
